/*for index.php*/
html,body{
	height:100%;
	width:100%;
}

body {
	font-family: 'Open Sans';
	color: #FFF;
	background: url(../img/index.jpg) no-repeat center fixed; 
	/*Scale the background image to compeltely cover*/
	/*prefix refers to browser*/
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#header {
	/*background-color: #756;*/
	width: 800px;
	text-align:center;
	/*top,bottom; auto: brower calculates right,left*/
	margin: 0 auto;
}

#headline {
	font-family: 'Tangerine', serif;
  	font-size: 100px;
  	/*text-shadow: 4px 4px 4px #aaa; */
}

#footer {
	width: 800px;
	height:50px;
	background-color: //#756;
	margin: 0 auto;
	
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
	/*transparent text*/
	color: rgba(0, 0, 0, 0.9);
}

#footer_text {
	font-size: 25px;
	padding-left: 10px;
	padding-top: 5px;
}


#menu {
	/*rounded-corner box*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	width:800px;
	height:400px;
	
	color: #222;
	background-color://#EEE;
	margin: 0 auto;
	
	/*opacity: 0.8;*/
}

#wrapper {
	width:95%;
	margin: 0 auto;
}

.form_size {
	width: 300px;
}

.panel{
	width: 750px;
	height: 280px;
	background-color:#123456;
}

.player {
	float:right;
	width:50px;
}

.fa-volume-up {
	color:white;
}

.fa-volume-up:hover {
	color: yellow;
}

.fa-volume-off {
	color:white;
}

.fa-volume-off:hover {
	color: yellow;
}

#success {
	color:#FA5858;
}
